
<div class="tab-container">
    <div class="tab-labels">
        <label (click)="selectTab(0)" [class.active]="selectedTab === 0">Korisnici</label>
        <label (click)="selectTab(1)" [class.active]="selectedTab === 3">Registracije</label>
    </div>

    <div class="tab-content">
        <div *ngIf="selectedTab === 0">
            <table>
                <thead>
                    <tr>
                        <th>Korisničko ime</th><th>Lozinka</th><th>Email</th>
                        <th>Tip naloga</th><th>Registrovan</th><th>Banovan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" (click)="showUserInfo(user)">
                        <td>{{ user.username }}</td><td>{{ user.password }}</td><td>{{ user.email }}</td>
                        <td>{{ user.role }}</td><td>{{ user.verified }}</td><td>{{ user.banned }}</td>
                    </tr>
                </tbody>
            </table>
          </div>

      <div *ngIf="selectedTab === 1">
        <table>
            <thead>
                <tr>
                    <th>Korisničko ime</th><th>Lozinka</th><th>Email</th>
                    <th>Tip naloga</th><th>Registrovan</th><th>Odobri registraciju</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let newUser of newUsers">
                    <td>{{ newUser.username }}</td><td>{{ newUser.password }}</td>
                    <td>{{ newUser.email }}</td><td>{{ newUser.role }}</td>
                    <td>{{ newUser.verified }}</td> 
                    <td class="register-button"> <button class="register-button" (click)="register(newUser)">registruj</button> </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>

<div class="modal" *ngIf="displayUserModal">
    <div class="modal-content">
        <span id="closeModal" class="close" (click)="closeUserModal()">&times;</span>
        <h2>Podaci o korisniku</h2>
        <div class="user-info">
            <div class="row">
                <div class="column">
                    <div class="row">
                        <label>Korisničko ime: </label>
                        <input type="text" [(ngModel)]="username" name="username">
                    </div>
                    <div class="row">
                        <label>Email: </label>
                        <input type="email" [(ngModel)]="email" name="email">
                    </div>
                    <div class="row">
                        <label>Registrovan: </label>
                        <input type="text" [(ngModel)]="selectedUser.verified" name="verified" [readOnly]="true">
                    </div>
                    <div class="row">
                        <label> {{ scienceRoom.name }} </label>
                        <div style="display: flex; flex-direction: row; max-width: 40%; align-items: center;" 
                            *ngFor="let perm of permissionValues">
                            <input
                              type="checkbox"
                              [value]="perm"
                              (change)="onCheckboxChange(selectedScienceRoomPermissions, perm, $event)"
                              [checked]="selectedScienceRoomPermissions.includes(perm)"
                              [disabled]="isAdmin || (isUser && (perm === 'edit' || perm === 'delete'))"
                            /> {{ perm }}
                        </div>
                    </div>
                    <div class="row">
                        <label> {{ sportRoom.name }} </label>
                        <div style="display: flex; flex-direction: row; max-width: 40%; align-items: center;" 
                            *ngFor="let perm of permissionValues">
                            <input
                              type="checkbox"
                              [value]="perm"
                              (change)="onCheckboxChange(selectedSportRoomPermissions, perm, $event)"
                              [checked]="selectedSportRoomPermissions.includes(perm)"
                              [disabled]="isAdmin || (isUser && (perm === 'edit' || perm === 'delete'))"
                            /> {{ perm }}
                        </div>
                    </div>
                </div>
    
                <div class="column">
                    <div class="row">
                        <label>Lozinka: </label>
                        <input type="text" [(ngModel)]="password" name="password">
                    </div>
                    <div class="row">
                        <label>Tip naloga: </label>
                        <select [(ngModel)]="role" name="role" (change)="onSelectionChange($event)">
                            <option value="user">forumaš</option>
                            <option value="moder">moderator</option>
                            <option value="admin">administrator</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Banovan: </label>
                        <select [(ngModel)]="banned" name="banned">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="row">
                        <label> {{ cultureRoom.name }} </label>
                        <div style="display: flex; flex-direction: row; max-width: 40%; align-items: center;" 
                            *ngFor="let perm of permissionValues">
                            <input
                              type="checkbox"
                              [value]="perm"
                              (change)="onCheckboxChange(selectedCultureRoomPermissions, perm, $event)"
                              [checked]="selectedCultureRoomPermissions.includes(perm)"
                              [disabled]="isAdmin || (isUser && (perm === 'edit' || perm === 'delete'))"
                            /> {{ perm }}
                        </div>
                    </div>
                    <div class="row">
                        <label> {{ musicRoom.name }} </label>
                        <div style="display: flex; flex-direction: row; max-width: 40%; align-items: center;" 
                            *ngFor="let perm of permissionValues">
                            <input
                              type="checkbox"
                              [value]="perm"
                              (change)="onCheckboxChange(selectedMusicRoomPermissions, perm, $event)"
                              [checked]="selectedMusicRoomPermissions.includes(perm)"
                              [disabled]="isAdmin || (isUser && (perm === 'edit' || perm === 'delete'))"
                            /> {{ perm }}
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="comment-button">
          <button type="submit" (click)="updateUser()">Izmijeni</button>
        </div>
    </div>
</div>